<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="5">

        <test name="Test1">


        <classes>
            <class name="uk.co.idealflatmate.tests.AbclearDataTests" />
            <class name="uk.co.idealflatmate.tests.AddListingTests" />
             <class name="uk.co.idealflatmate.tests.AreaPageTest" />

             <class name="uk.co.idealflatmate.tests.FooterTest" />
             <class name="uk.co.idealflatmate.tests.HomePageTest" />
             <class name="uk.co.idealflatmate.tests.MatchingTests" />
             <class name="uk.co.idealflatmate.tests.MessagesTest" />
             <class name="uk.co.idealflatmate.tests.PaymentTests" />
             <class name="uk.co.idealflatmate.tests.SearchFMPageTests" />
             <class name="uk.co.idealflatmate.tests.SearchHomePageTests" />
             <class name="uk.co.idealflatmate.tests.SearchPropertiesPageTests" />
             <class name="uk.co.idealflatmate.tests.SignUpLikeOrMessage" />
             <class name="uk.co.idealflatmate.tests.SignUpMatching" />
             <class name="uk.co.idealflatmate.tests.SignUpTest"/>
            <class name="uk.co.idealflatmate.tests.SignUpBuddy_up" />
             <class name="uk.co.idealflatmate.tests.ZEmailTests" />
        </classes>

        <!--<test name="Test2">
            <classes>
                <class name="uk.co.idealflatmate.tests.FooterTest">
                    <methods>
                        <include name="footerInstagramLink" />
                        <include name="footerTwitterLink" />
                    </methods>
                </class>
            </classes>
        </test>
    <test name="ToolsQA">
        <classes>
        <class name="uk.co.idealflatmate.tests.SignUpTest"/>
            <parameter name="firstName1" value="Ronaldina"/>

            <parameter name="sPassword" value="Test@123"/>
        </classes>-->


    </test>

    </suite>
