<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" verbose="1">

    <test name="Test1">


    <classes>
        <class name="uk.co.idealflatmate.tests.AddListingTests" />
        <class name="uk.co.idealflatmate.tests.AreaPageTest" />
        <class name="uk.co.idealflatmate.tests.ZEmailTests" />
        <class name="uk.co.idealflatmate.tests.FooterTest" />
        <class name="uk.co.idealflatmate.tests.HomePageTest" />
        <class name="uk.co.idealflatmate.tests.MatchingTests" />
        <class name="uk.co.idealflatmate.tests.MessagesTest" />
        <class name="uk.co.idealflatmate.tests.PaymentTests" />
        <class name="uk.co.idealflatmate.tests.SearchFMPageTests" />
        <class name="uk.co.idealflatmate.tests.SearchHomePageTests" />
        <class name="uk.co.idealflatmate.tests.SearchPropertiesPageTests" />
        <class name="uk.co.idealflatmate.tests.SignUpLikeOrMessage" />
        <class name="uk.co.idealflatmate.tests.SignUpMatching" />
        <class name="uk.co.idealflatmate.tests.SignUpTest" />
    </classes>
</test>*/

    <!--
    <test name="test1">
    <parameter name="browser" value="chrome" />
        <groups>
                    <run>


                        <include name="cron"/>


                    </run>
        </groups>


        <classes>
            <class name="uk.co.idealflatmate.tests.AuthorizationTests"/>
        </classes>
    </test>
    </suite>
    -->